
body {
    background-image:url(../imagenes_web/fondo_login.png);
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el body tome el 100% de la altura de la pantalla */
    align-content: center;
}

.login{
    display:flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}


/*-----------------form_login------------*/


.form_login{
  line-height: 1.5;
  align-content: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #2e518b ;
  color: aliceblue;
}

.form_login input{
    margin: 5px;
}
