body{
  background-color: #ffffff;
}


.backgroundDark{
  background-color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border: 1px solid rgb(255, 255, 255);
}
.textDark{
  color: black;
}
.backgroundLight{
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
}

.textLight{
  color: rgb(255, 255, 255);
}