
div#filtro{
    position: absolute;
    width: 100%;
    bottom: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    
}

div#bebidasfiltro{
    width: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 4px 0px 0px rgb(195, 208, 212);
    background-color: rgba(219, 99, 99, 0.829);
    vertical-align: bottom;
    text-align: center;
    border-radius:20px;
}

div#bebidasfiltro:hover{
    background-color: rgba(245, 137, 137, 0.829);
}

div#platosfiltro{
    width:100px;
    padding:10px;
    margin: 10px;
    box-shadow: 1px 4px 0px 0px rgb(195, 208, 212);
    background-color: rgba(219, 99, 99, 0.829);
    vertical-align: bottom;
    text-align: center;
    border-radius:20px;
}
div#platosfiltro:hover{
    background-color: rgba(245, 137, 137, 0.829);
}


div#postresfiltro{
    width: 100px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 4px 0px 0px rgb(195, 208, 212);
    background-color: rgba(219, 99, 99, 0.829);
    vertical-align: bottom;
    text-align: center;
    border-radius:20px;
}

div#postresfiltro:hover{
    background-color: rgba(245, 137, 137, 0.829);
}

#bebidas{
    height: auto;
    background-color: rgba(219, 99, 99, 0.829); 
    box-shadow: 1px 4px 0px 0px rgb(195, 208, 212);
    border-radius:20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

#bebida1{
    display: flex;
    flex-wrap: wrap;
}
img#pollo{
    border-radius: 20px;
    padding: 10px;
}


#sumarRestarProducto{
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: aliceblue;
    box-shadow: 1px 4px 0px 0px rgb(195, 208, 212);
    height: 90px;
    width: 100px;
    margin: 10px;
    flex-direction: row;
    align-items: center;
}

#sumarRestarProducto #sumar{
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    height: 33%;
    width: 100%;
    
}


#sumarRestarProducto #restar{
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    height: 33%;
    width: 100%;
    
}

#sumarRestarProducto #sumar:hover{
    background-color: rgb(196, 196, 197);
    
}

#sumarRestarProducto #restar:hover{
    background-color: rgb(196, 196, 197);
    
}

#resultado{
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    height: 33%;
    width: 100%;
}




